* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

@font-face
{
    font-family: GearedSlab-Bold;
    src: url(GearedSlab-Bold.ttf)
}

@font-face
{
    font-family: GearedSlab;
    src: url(Airplane.ttf)
}

body
{
    background-color: rgb(58,60,65);
    background-image: url('img/bg-app.jpg');
}

#canvasContainer
{
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    float: left;
}

.moveLogItem
{
    display:  table-row;
    height: 50px;
    vertical-align: middle;
    font-size: 24px;
}

.moveLogItem > .description, .moveLogItem > .index
{
    display:  table-cell;
    vertical-align: middle;
}

.moveLogItem > .description
{
    padding: 0 5px;
}

.moveLogItem > .indexer
{
    width: 50px;
    height: 50px;
    background-color: red;
    text-align: center;
}

.modeContainer
{
    color: rgb(172,189,255);
    display: none;float: right; position:absolute; right: 5px; top: 5px; bottom: 5px; width: 247px;
    /*background-color: rgb(58,60,65);*/
    border-radius: 5px;
    /*padding: 4px;*/
    margin: 5px 0;
}

#localModeContainer
{
    background-color: inherit;
    width: 245px;
}

.modeContainer > table
{
    width: 100%;
    color: white;
}

.modeContainer > table td
{
    overflow-y: scroll;
}

button
{
    background-color:rgb(44,46,50);
    border: 3px solid rgba(255, 255, 255, .5);
    color: white;
    border-radius: 30px;
    margin: 0 2px;
}

button:active
{
    /*background-color: rgb(88,92,100);*/
}

.playerButtons
{
    width: 100%; position: relative;
    height: 160px;
}

.playerData > table td
{
    padding: 0;
}

.player1Data, .player2Data
{
    max-height: 275px;
    min-height: 225px;
    vertical-align: bottom;
    position: relative;
}

.userInfo
{
    height: 225px;
    border-spacing: 0;
    opacity: 0.85;
}

.playerButtons button
{
    display:block;
    width: 100%;
    border-radius:0;
    border:0;
    background-color: inherit;
    margin:0;
}

.playerButtons button:active
{
    /*background-color:rgb(0,172,189);*/
}

.bidText
{
    text-align: center;
    background-image: url('img/cell-border-hor.png');
    background-size: 2px;
    background-position-x: left;
    background-repeat: repeat-y;
    position:relative;
}

.player1Bid, .player2Bid
{
    font-size:80px;
    font-weight: 100;
}

.bidMoves
{
    font-size: 20px;
    font-weight: bold;
    /*font-variant: small-caps;*/
    position: absolute;
    bottom: 10px;
    left:0;
    right:0;
    text-align: center;
}

.userInfo .profile > td
{
    padding: 10px 5px;
    font-size: 24px;
    font-weight:bold;
    /*font-variant: small-caps;*/
}

.userInfo .profile > td:first-child
{
    width:50px;
    padding: 0;
    position: relative;
}
.userInfo .profile > td:first-child div
{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:2px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.player1Up > img, .player2Up > img
{
    width:70%;
}

.player1Down > img, .player2Down > img
{
    width:70%;
}

.player1Set > img, .player2Set > img
{
    width:70%;
}

.playerButtons .bidButtons, .playerButtons .setButtons
{
    width: 55px;
}

.playerButtons .bidButtons button:active
{
    background-color:rgb(0,172,189);
}

.playerButtons .bidButtons button:first-child
{
    background-image: url('img/cell-border.png');
    background-size: 1px;
    background-position-y: bottom;
    background-repeat: repeat-x;
    top:0;
    bottom:50%;
}

.playerButtons .setButtons
{
    background-image: url('img/cell-border-hor.png');
    background-size: 2px;
    background-position-x: left;
    background-repeat: repeat-y;
    position: relative;
}

.playerButtons .setButtons button:active
{
    background-color: transparent !important;
}

.playerButtons .setButtons.active button
{
    background-color:rgb(0,172,189);
}

.playerButtons .bidButtons
{
    position: relative;
}

.playerButtons .bidButtons button
{
    position:absolute;
    top:50%;
    bottom:0;
    left:0;
    right:0;
}

.playerButtons .setButtons button
{
    height: 100%;
    position:absolute;
    top:0;
    bottom:0;
    left:2px;
    right:0;
}

.playerButtons > div
{
    background-image: url('img/cell-border-hor.png');
    background-position-x: right;
    background-repeat: repeat-y;
    display:inline-block;
}

.user2Info, .player2Cache
{
    -webkit-transform:rotate(-180deg);
    /*position: absolute; top: 0; bottom: inherit !important; right:0; left: 0;*/
}

#player1Set, #player2Set
{
    position: absolute; right: 2px;
}

#localModeContainer > table
{
    width: 100%;
    height:100%;
    z-index: 10;
}

/*.playerButtons > *
{
    display: inline-block; height: 55px; width: 55px;
}*/

.playerButtons > div
{
    font-size: 45px; vertical-align: middle; text-align: center;
}

.counter, .mcounter
{
    text-align:center;
    line-height: 100px;
    height: 100px;
    width: 100%;
    font-size: 80px;
}

.timer 
{
    text-align:center; height: 100px; padding-top: 5px;
}

.timerCanvas
{
    height:100px; width:100px;
}

.activeCache
{
    text-align:center;
    margin-top: -3px;
    display:none;
}

.activeCache.full
{
    display:block;
}

.activeCache.full > div, .movingCache.full > div
{
    height:34px;
    width: 34px;
    margin: -4px -5px;
}

.activeCache.full > div > div, .movingCache.full > div > div
{
    margin-top:0px !important;
    border: 3px inset black;
    box-sizing: border-box;
    width: 34px;
    height:34px;
    border-radius: 17px;
}

.movingCache.full > div > div
{
    border-radius: 0;
}

.getStarted
{
    display: block;
    border-radius:4px;
    border:0px;
    background-color:rgb(0,172,189);
    font-size: 32px;
    font-weight:bold;
    /*font-variant: small-caps;*/
    text-shadow: 2px 2px #333;
    padding: 15px 30px;
}

.moveLog
{
    visibility: hiddden;
    /*height: 100%;*/
    overflow-y: scroll;
}

.modeContainer > table
{
    height:  100%;
    overflow: hidden;
    font-size: 20px;
    border-spacing:0;
}

.modeContainer .userInfo
{
    /*position: absolute; bottom: 0; max-height: 220px;  right:0; left: 0;*/
    width:100%; color: #fff; border: 1px solid #222; border-radius: 5px; font-size:20px; font-weight: 400;
    box-shadow: 0px 0px 5px #222;
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0, #65686E),
        color-stop(0.58, #393B40)
    );

    text-shadow: 2px 2px #333;
}
.modeContainer .userInfo > tbody > tr > td
{
    padding: 5px;
}
.modeContainer .userInfo .moveCount
{
    padding:5px; font-size: 80px; font-weight: lighter;
}
.modeContainer .userInfo .timeInfo
{
    /*border-bottom: 1px solid black;*/
    background-image: url('img/cell-border.png');
    background-size: 1px;
    background-position-y: bottom;
    background-repeat: repeat-x;
}
.modeContainer .userInfo .timeInfo > div
{
    display: table-cell;
    width:25%;
    padding: 5px 10px;
}
.modeContainer .userInfo .clearMoves
{
    text-align: right;
}
.modeContainer .userInfo .clearMoves a
{
    color: teal;
    text-decoration: none;
    font-weight: bold;
}
.modeContainer .userInfo .profile > td
{
    background-image: url('img/cell-border.png');
    background-size: 1px;
    background-position-y: bottom;
    background-repeat: repeat-x;
}
.modeContainer .userInfo .profile > td:first-child > div
{
    border-radius: 5px 0 0 0;
}

#localModeContainer .moveLog
{
    max-height: 275px;
    margin-bottom: -3px;
    width:80%;
    margin-left:10%;
}

.modeContainer .moveLog
{
    max-height: 400px;
    background-color: #fff;
}

.modeContainer .moveLog div
{
    vertical-align: middle;
}

.modeContainer .moveLogItem
{
    width: 100%;
    display: block;
    padding: 6px 0;
}

.modeContainer .moveLogItem:nth-child(n+2)
{
    border-top: 1px solid rgb(222,227,233);
}

.modeContainer .moveLogItem div
{
    float:left;
    text-align: center;
    height:50px;
    line-height: 50px;
}

.modeContainer .moveLogItem .index
{
    width:25%;
    color: rgb(222,227,233);
    font-size: 30px;
    font-weight: 100;
}

.modeContainer .moveLogItem .direction
{
    width:50%;
    position:relative;
}

.modeContainer .moveLogItem .direction > div
{
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    left: 50%;
    margin-left:-25px;
    width: 50px;
    border-radius: 25px;
}

.modeContainer .moveLogItem .up
{
    background-image:url(img/arrow-up.png);
}

.modeContainer .moveLogItem .down
{
    background-image:url(img/arrow-down.png);
}
.modeContainer .moveLogItem .left
{
    background-image:url(img/arrow-left.png);
}
.modeContainer .moveLogItem .right
{
    background-image:url(img/arrow-right.png);
}
.modeContainer .moveLogItem .undo
{
    width:25%;
    text-align: right;
    position: relative;
}

.modeContainer .moveLogItem .red
{
    background-color: rgb(255,0,0);
}

.modeContainer .moveLogItem .blue
{
    background-color: rgb(0,0,255);
}

.modeContainer .moveLogItem .yellow
{
    background-color: rgb(255,255,0);
}

.modeContainer .moveLogItem .green
{
    background-color: rgb(0,255,0);
}

.modeContainer .moveLogItem .undo > div
{
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-15px;
    margin-top:-15px;
    width:30px;
    height:30px;
    border-radius: 15px;
    background-color: rgb(222,227,233);
    background-image:url(img/x.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.modeContainer .playerCache
{
    padding-bottom: -5px !important;
    line-height: 12px;
    margin-top:0px;
    padding: 0 5px;
    padding-left: 10px;
    max-height: 40px;
}

.playerCache > div, .activeCache > div, .movingCache > div
{
    overflow: hidden;
    width: 32px;
    height:15px;
    margin: 0 -3px;
    /*margin-top:-15px;*/
    display: inline-block;
}

.playerCache > div
{
    padding: 0 0;
    z-index:-1;
}

.playerCache > div > div, .activeCache > div > div, .movingCache > div > div
{
    margin-top:0 !important;
    height:30px;
    width:30px;
    border-radius:15px;
}

.localInfo
{
    /*background-image:-webkit-gradient( linear, left top, right bottom, color-stop(0.58, #393B40), color-stop(0, #65686E) );*/
    /*box-shadow: 0px 0px 5px #222;*/
}

.localInfo > div
{
    -webkit-transform: rotate(-90deg);
}