* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body
{
    background-color: rgb(58,60,65);
}

#canvasContainer
{
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    float: left;
}

.moveLogItem
{
    display:  table-row;
    height: 50px;
    vertical-align: middle;
    font-size: 24px;
}

.moveLogItem > .description, .moveLogItem > .index
{
    display:  table-cell;
    vertical-align: middle;
}

.moveLogItem > .description
{
    padding: 0 5px;
}

.moveLogItem > .indexer
{
    width: 50px;
    height: 50px;
    background-color: red;
    text-align: center;
}

.modeContainer
{
    color: rgb(172,189,255);
    display: none;float: right; position:absolute; right: 5px; top: 5px; bottom: 5px; width: 247px;
    background-color: rgb(58,60,65);
    border-radius: 5px; padding: 4px;
    margin: 5px 0;
}

.modeContainer > table
{
    width: 100%;
    color: white;
}

.modeContainer > table td
{
    overflow-y: scroll;
}

button
{
    background-color:rgb(44,46,50);
    border: 3px solid rgba(255, 255, 255, .5);
    color: white;
    border-radius: 30px;
    margin: 0 2px;
}

button:active
{
    background-color: rgb(88,92,100);
}

.playerButtons
{
    width: 100%; position: relative;
}

.player1Data, .player2Data, .userInfo
{
    height: 205px;
}

.user2Info
{
    -webkit-transform:rotate(-180deg);
    position: absolute; top: 0; bottom: inherit !important; right:0; left: 0;
}

#player1Set, #player2Set
{
    position: absolute; right: 2px;
}

#localModeContainer > table
{
    width: 100%;
    height:100%;
    z-index: 10;
}

.playerButtons > *
{
    display: inline-block; height: 55px; width: 55px;
}

.playerButtons > div
{
    font-size: 45px; vertical-align: middle; text-align: center;
}

.counter, .mcounter
{
    text-align:center;
    line-height: 100px;
    height: 100px;
    width: 100%;
    font-size: 80px;
}

.timer 
{
    text-align:center; height: 100px; padding-top: 5px;
}

.timerCanvas
{
    height:100px; width:100px;
}

.activeCache
{
    text-align:center;
    margin-top: -3px;
}

.activeCache.full > div
{
    height:32px;
}

.activeCache.full > div > div
{
    margin-top:0px !important;
}

.getStarted
{
    display: inline-block; margin-top: 10px; width:100%; height: 60px;
}

.moveLog
{
    visibility: hiddden;
    height: 100%; overflow-y: scroll;
}

.modeContainer > table
{
    height:  100%;
    overflow: hidden;
    font-size: 20px;
}

.modeContainer .userInfo
{
    position: absolute; bottom: 0; max-height: 220px;  right:0; left: 0; width:100%; color: #fff; border: 1px solid #222; border-radius: 5px; font-size:20px; font-weight: 400;
    box-shadow: 0px 0px 5px #222;
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0, #65686E),
        color-stop(0.58, #393B40)
    );

    text-shadow: 2px 2px #333;
}
.modeContainer .userInfo td
{
    padding: 5px;
}
.modeContainer .userInfo .moveCount
{
    padding:5px; font-size: 80px; font-weight: lighter;
}
.modeContainer .userInfo .timeInfo
{
    border-bottom: 1px solid black;
}
.modeContainer .userInfo .timeInfo > div
{
    display: table-cell;
    width:25%;
    padding: 5px 10px;
}
.modeContainer .userInfo .clearMoves
{
    text-align: right;
}
.modeContainer .userInfo .clearMoves a
{
    color: teal;
    text-decoration: none;
    font-weight: bold;
}
.modeContainer .userInfo .profile
{
    border-top: 1px solid black;
    padding: 5px 10px;
}
.modeContainer .userInfo .profile img
{
    border-radius: 5px;
}

#localModeContainer .moveLog
{
    background-color: rgba(255,255,255,0);
    max-height: 600px;
}

.modeContainer .moveLog
{
    max-height: 400px;
    background-color: #fff;
}

.modeContainer .moveLog div
{
    vertical-align: middle;
}

.modeContainer .moveLogItem
{
    width: 100%;
    display: block;
    padding: 6px 0;
}

.modeContainer .moveLogItem:nth-child(n+2)
{
    border-top: 1px solid rgb(222,227,233);
}

.modeContainer .moveLogItem div
{
    float:left;
    text-align: center;
    height:50px;
    line-height: 50px;
}

.modeContainer .moveLogItem .index
{
    width:25%;
    color: rgb(222,227,233);
    font-size: 30px;
    font-weight: 100;
}

.modeContainer .moveLogItem .direction
{
    width:50%;
    position:relative;
}

.modeContainer .moveLogItem .direction > div
{
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    left: 50%;
    margin-left:-25px;
    width: 50px;
    border-radius: 25px;
}

.modeContainer .moveLogItem .up
{
    background-image:url(arrow-up.png);
}

.modeContainer .moveLogItem .down
{
    background-image:url(arrow-down.png);
}
.modeContainer .moveLogItem .left
{
    background-image:url(arrow-left.png);
}
.modeContainer .moveLogItem .right
{
    background-image:url(arrow-right.png);
}
.modeContainer .moveLogItem .undo
{
    width:25%;
    text-align: right;
    position: relative;
}

.modeContainer .moveLogItem .red
{
    background-color: rgb(255,0,0);
}

.modeContainer .moveLogItem .blue
{
    background-color: rgb(0,0,255);
}

.modeContainer .moveLogItem .yellow
{
    background-color: rgb(255,255,0);
}

.modeContainer .moveLogItem .green
{
    background-color: rgb(0,255,0);
}

.modeContainer .moveLogItem .undo > div
{
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-15px;
    margin-top:-15px;
    width:30px;
    height:30px;
    border-radius: 15px;
    background-color: rgb(222,227,233);
    background-image:url(x.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.modeContainer .playerCache
{
    padding-bottom: -5px !important;
    line-height: 18px;
    margin-top:0px;
    padding: 0 5px;
    padding-left: 10px;
    height: 40px;
}

.playerCache > div, .activeCache > div
{
    overflow: hidden;
    width: 32px;
    height:15px;
    margin: 0 -3px;
    /*margin-top:-15px;*/
    display: inline-block;
}

.playerCache > div > div, .activeCache > div > div
{
    margin-top:-15px !important;
    height:30px;
    width:30px;
    border-radius:15px;
}

.localInfo
{
    background-image:-webkit-gradient( linear, left top, right bottom, color-stop(0.58, #393B40), color-stop(0, #65686E) ); box-shadow: 0px 0px 5px #222;
}